<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sapslaj's Shit List</title>
    <meta name="description" content="Companies, things, or people on my shit list; the list of things I don't like.">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
    <div class="container mx-auto">
      <header class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center my-6">
        <h1 class="title is-1">Shit List</h1>
        <p class="subtitle">Companies, things, or people on my shit list; the list of things I don't like.</p>
      </header>
      <main>
        {{ content | safe }}
      </main>
    </div>
  </body>
</html>
